@import"./button.scss";
@import"./datepicker.scss";
@import"./select.scss";
@import"./input.scss";
@import"./radioSwitchCheckbox.scss";
@import"./text.scss";

.el-picker__popper .el-popper__arrow::before {
    background-color: var(--background-color) !important
}

.el-picker__popper .el-picker-panel__body {
    background-color: var(--background-color) !important;
    color: var(--text-color)
}

.el-picker__popper .el-picker-panel__body .el-date-picker__time-header .el-input__wrapper,
.el-picker__popper .el-picker-panel__body .el-date-range-picker__time-header .el-input__wrapper {
    border: 1px var(--border-style) var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    box-shadow: none
}

.el-picker__popper .el-picker-panel__body .el-date-picker__time-header .el-input__wrapper .el-input__inner,
.el-picker__popper .el-picker-panel__body .el-date-range-picker__time-header .el-input__wrapper .el-input__inner {
    color: var(--text-color)
}

.el-picker__popper .el-picker-panel__body .el-date-picker__time-header .el-icon,
.el-picker__popper .el-picker-panel__body .el-date-range-picker__time-header .el-icon {
    color: var(--icon-color)
}

.el-picker__popper .el-picker-panel__body .el-date-picker__header .el-date-picker__header-label,
.el-picker__popper .el-picker-panel__body .el-date-range-picker__header .el-date-picker__header-label {
    color: var(--text-color)
}

.el-picker__popper .el-picker-panel__body .el-date-picker__header .el-picker-panel__icon-btn .el-icon,
.el-picker__popper .el-picker-panel__body .el-date-range-picker__header .el-picker-panel__icon-btn .el-icon {
    color: var(--icon-color)
}

.el-picker__popper .el-picker-panel__body .el-picker-panel__content .el-date-table td.current:not(.disabled) .el-date-table-cell__text {
    background-color: var(--active-color) !important
}

.el-picker__popper .el-picker-panel__body .el-picker-panel__content .el-date-table td.in-range .el-date-table-cell {
    background-color: var(--info-color) !important
}

.el-picker__popper .el-picker-panel__footer {
    background-color: var(--background-color) !important
}

.el-picker__popper .el-picker-panel__footer .el-picker-panel__link-btn {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px var(--border-style) var(--border-color)
}

.el-picker__popper .el-time-panel,
.el-picker__popper .el-time-range-picker {
    background-color: var(--background-color) !important
}

.el-picker__popper .el-time-panel .el-time-panel__content .el-time-range-picker__header,
.el-picker__popper .el-time-panel .el-time-range-picker__content .el-time-range-picker__header,
.el-picker__popper .el-time-range-picker .el-time-panel__content .el-time-range-picker__header,
.el-picker__popper .el-time-range-picker .el-time-range-picker__content .el-time-range-picker__header {
    color: var(--text-color)
}

.el-picker__popper .el-time-panel .el-time-panel__content .el-time-spinner__wrapper li,
.el-picker__popper .el-time-panel .el-time-range-picker__content .el-time-spinner__wrapper li,
.el-picker__popper .el-time-range-picker .el-time-panel__content .el-time-spinner__wrapper li,
.el-picker__popper .el-time-range-picker .el-time-range-picker__content .el-time-spinner__wrapper li {
    color: var(--text-color)
}

.el-picker__popper .el-time-panel .el-time-panel__content .el-time-spinner__wrapper li:hover,
.el-picker__popper .el-time-panel .el-time-range-picker__content .el-time-spinner__wrapper li:hover,
.el-picker__popper .el-time-range-picker .el-time-panel__content .el-time-spinner__wrapper li:hover,
.el-picker__popper .el-time-range-picker .el-time-range-picker__content .el-time-spinner__wrapper li:hover {
    background-color: var(--active-color)
}

.el-picker__popper .el-time-panel .el-time-panel__footer .el-time-panel__btn,
.el-picker__popper .el-time-range-picker .el-time-panel__footer .el-time-panel__btn {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px var(--border-style) var(--border-color)
}